<div class="algorithm-visualiser-wrapper">
  <app-control-panel 
    (onAlgorithmChange)="setAlgorithm($event)"
    (onMazeGeneration)="generateMaze()"
    (onSpeedChange)="setSpeed($event)"
    (onArraySizeChange)="setArraySize($event)"
  ></app-control-panel>
  <div class="algorithm-visualiser-container">
    <div class="algorithm-visualiser">
      <ng-container *ngIf="algorithm">
        <app-path-finder-visualiser 
          *ngIf="algorithm.type == AlgorithmType.PathFinder" 
          [algorithm]="algorithm" 
          [speed]="speed"
          [width]="visualiserWidth"
          [height]="visualiserHeight">
        </app-path-finder-visualiser>
        <app-sorting-visualiser 
          *ngIf="algorithm.type == AlgorithmType.Sorting" 
          [algorithm]="algorithm" 
          [speed]="speed" 
          [arraySize]="arraySize"
          [width]="visualiserWidth"
          [height]="visualiserHeight">
        </app-sorting-visualiser>
      </ng-container>
    </div>
    <div class="action-bar">
      <button *ngIf="algorithm" mat-raised-button color="primary" class="action-btn" (click)="play()" [disabled]="isPlaying">
        {{algorithm.type == AlgorithmType.Sorting ? 'Sort' : 'Find'}}
      </button>
    </div>
  </div>
</div>